# Database connection
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/laptophub?schema=public"

# JWT auth
JWT_SECRET="your secret"
JWT_EXPIRES_IN="set date" eg, 1d upto so-on

# App
PORT=3000

DEV_TENANT_ID="laptophub-tenant-001"